<div class="header-wrap">
    <div class="header-container">
        <div class="header-left">
            <a href="/">
                <img class="header-logo" src="/images/arachne_logo_2.png" />
            </a>
        </div>
        <div class="header-right">
            <a class="header-btn" href="/admin/user">회원관리</a>
            <a class="header-btn" href="/admin/board">게시글관리</a>
        </div>
    </div>
</div>
