<div class="header-wrap">
    <div class="header-container">
        <div class="header-left">
            <a href="/">
                <img class="logo" src="/images/arachne_logo_2.png" />
            </a>
        </div>
        <div class="header-right">
            <a class="header-btn-signin" href="/signin">로그인</a>
            <a class="header-btn-signup" href="/signup">회원가입</a>
        </div>
    </div>
</div>
