<div class="header-wrap">
    <div class="header-container">
        <div class="header-left">
            <a href="/">
                <img class="header-logo" src="/images/arachne_logo_2.png" />
            </a>
        </div>
        <div class="header-right"></div>
    </div>
</div>

<script defer src="/js/header.js"></script>
