<div class="password-find-form">
    <div id="password-find-name-wrap" class="password-find-data">
        <div class="password-find-label">이름</div>
        <input type="text" id="user-name" placeholder="이름" />
    </div>
    <div id="password-find-email-wrap" class="password-find-data">
        <div class="password-find-label">이메일</div>
        <input type="text" id="user-email" placeholder="이메일" />
    </div>
</div>
<div class="password-find-btn">
    <button
        id="auth-code-action-btn"
        type="button"
        onclick="checkUserForFindId()"
    >
        아이디 찾기
    </button>
</div>

<script defer src="/js/id-find.js"></script>
