<div class="password-change-wrap">
    <div class="password-change-container">
        <div class="password-change-logo">
            <a href="/">
                <img src="/images/arachne_logo_mm1.png" />
            </a>
        </div>
        <div class="password-change-logo-title">ARACHNE</div>
        <div class="password-change-title">비밀번호 변경</div>
        <div class="password-change-form">
            <div class="password-change-input-wrap">
                <div class="password-change-label">현재 비밀번호</div>
                <input type="password" id="current-password" />
            </div>
            <div class="password-change-input-wrap">
                <div class="password-change-label">새 비밀번호</div>
                <input type="password" id="new-password" />
            </div>
            <div class="password-change-input-wrap">
                <div class="password-change-label">새 비밀번호 확인</div>
                <input type="password" id="new-password-check" />
            </div>
        </div>
        <div class="password-change-btn-wrap">
            <button type="button" onclick="passwordChange()">
                비밀번호 변경
            </button>
        </div>
    </div>
</div>

<script defer src="/js/password-change.js"></script>
