<div class="password-reset-wrap">
    <div class="password-reset-container">
        <div class="password-reset-logo">
            <a href="/">
                <img src="/images/arachne_logo_mm1.png" />
            </a>
        </div>
        <div class="password-reset-logo-title">ARACHNE</div>
        <div class="password-reset-title">비밀번호 재설정</div>
        <div class="password-reset-form">
            <div class="password-reset-input-wrap">
                <div class="password-reset-label">새 비밀번호</div>
                <input
                    type="password"
                    id="new-password"
                    placeholder="최소 8자 이상. 최소 하나의 영문 소문자, 숫자 및 특수문자 조합"
                />
            </div>
            <div class="password-reset-input-wrap">
                <div class="password-reset-label">새 비밀번호 확인</div>
                <input
                    type="password"
                    id="new-password-check"
                    placeholder="최소 8자 이상. 최소 하나의 영문 소문자, 숫자 및 특수문자 조합"
                />
            </div>
            <div class="password-reset-error-message-wrap"></div>
        </div>
        <div class="password-reset-btn-wrap">
            <button type="button" onclick="passwordReset()">
                비밀번호 변경
            </button>
        </div>
    </div>
</div>

<script defer src="/js/password-reset.js"></script>
