<div class="password-find-form">
    <div id="password-find-id-wrap" class="password-find-data">
        <div class="password-find-label">아이디</div>
        <input type="text" id="user-id" placeholder="아이디" />
    </div>
    <div id="password-find-name-wrap" class="password-find-data">
        <div class="password-find-label">이름</div>
        <input type="text" id="user-name" placeholder="이름" />
    </div>
    <div id="password-find-email-wrap" class="password-find-data">
        <div class="password-find-label">이메일</div>
        <input type="text" id="user-email" placeholder="이메일" />
    </div>
</div>
<div class="password-find-btn">
    <button
        id="auth-code-action-btn"
        type="button"
        onclick="checkUserForFindPassword()"
    >
        인증번호 받기
    </button>
</div>
<div class="signin-btn">
    <button type="button" onclick="location.href='/signin'">로그인</button>
</div>

<script defer src="/js/password-find.js"></script>
