<div class="signin-wrap">
    <div class="signin-container">
        <div class="signin-logo">
            <a href="/">
                <img src="/images/arachne_logo_mm1.png" />
            </a>
        </div>
        <div class="signin-logo-title">ARACHNE</div>
        <div class="signin-title">로그인</div>
        <div class="signin-form">
            <div id="signin-id-wrap" class="signin-data">
                <div class="signin-label">아이디</div>
                <input type="text" id="user-id" placeholder="아이디" />
            </div>
            <div id="signin-password-wrap" class="signin-data">
                <div class="signin-label">비밀번호</div>
                <input
                    type="password"
                    id="user-password"
                    placeholder="비밀번호"
                />
            </div>
        </div>
        <div class="signin-btn">
            <button type="button" onclick="signin()">로그인</button>
        </div>
        <div>
            <a style="color: #bf9b30" href="/password-find">비밀번호 찾기</a>
        </div>
        <div class="signin-to-signup-link">
            <span>아직 회원이 아니신가요?</span>
            <a href="/signup">회원가입하러 가기</a>
        </div>
    </div>
</div>

<script defer src="/js/signin.js"></script>
