.header-wrap {
    width: 100%;
    height: 2rem;
    padding: 1.25rem 0;
    border-bottom: 1px solid #7f7f66;
}

.header-container {
    width: 1280px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
}

.header-logo {
    height: 2rem;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-btn-signin,
.header-btn-signup {
    padding: 0.75rem 1.25rem;
    border: 1px solid #7f7f66;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.75rem;
}

.header-btn-signup {
    margin-left: 0.5rem;
}

.header-btn-user-wrap {
    color: #ffffff;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-btn-user-nickname {
    font-weight: bold;
}

.header-btn-user-menu {
    position: relative;
}

.header-btn-user {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.header-btn-user img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-btn-user-modal {
    position: absolute;
    right: 0;
    width: 15rem;
    background-color: #202020;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid #7f7f66;
    padding: 0.75rem;
    margin-top: 0.5rem;

    display: none;
}

.header-btn-user-modal-menu {
    width: 100%;
}

.header-btn-user-modal-menu a {
    color: #ffffff !important;
    display: block;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #7f7f66;
}

.header-btn-user-modal-menu a:last-child {
    border: none;
}

@media (max-width: 768px) {
    .header-container {
        width: 100%;
    }
}
