.password-reset-wrap {
    width: 100%;
    height: 100vh;
    padding: 10rem 0;

    display: flex;
    justify-content: center;
}

.password-reset-container {
    max-width: 30rem;
    width: 100%;
}

.password-reset-logo {
    height: 6rem;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
}

.password-reset-logo img {
    height: 100%;
}

.password-reset-logo-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 4rem;
}

.password-reset-title {
    color: #ffffff;
    font-size: 1.25rem;
    margin-bottom: 2rem;

    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

.password-reset-title::before,
.password-reset-title::after {
    content: '';
    flex-grow: 1;
    background: #7f7f66;
    height: 1px;
    margin: 0 0.5rem;
}

.password-reset-form {
    margin-bottom: 2rem;
}

.password-reset-input-wrap {
    color: #ffffff;
    margin-bottom: 2rem;
}

.password-reset-input-wrap .password-reset-label {
    margin-bottom: 0.375rem;
}

.password-reset-input-wrap input {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5rem;
    background-color: #2f2f2f;
    box-sizing: border-box;
    border: 1px solid #7f7f66;
    border-radius: 0.375rem;
    appearance: none;
    margin-top: 0.5rem;
    width: 100%;
}

/* password reset button */

.password-reset-btn-wrap {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.password-reset-btn-wrap button {
    width: 100%;
    color: #ffffff;
    background-color: #7f7f66;
    font: 0.875rem;
    cursor: pointer;
    border-radius: 0.375rem;
    border: none;
    padding: 0.75rem 0;
}

/* error */
.password-reset-error-message-wrap {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.password-reset-error-message {
    font-size: 0.75rem;
    color: red;
}
